{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block title %}{{ individual.title|truncatechars:100 }}{% endblock title %}

{% block content %}

    <!-- Breadcrumb -->
    <div class="breadcrumb-nav">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i> Главная</a></li>
                    {% if individual.category == 'Для стоматологов' %}
                        <li class="breadcrumb-item"><a href="{% url 'for_dentists' %}">Индивидуальное обучение для
                            стоматологов</a></li>
                    {% elif individual.category == 'Для техников' %}
                        <li class="breadcrumb-item"><a href="{% url 'for_tech' %}">Индивидуальное обучение для
                            техников</a></li>
                    {% elif individual.category == 'Для клиник' %}
                        <li class="breadcrumb-item"><a href="{% url 'for_clinics' %}">Индивидуальное обучение для
                            клиник</a></li>
                    {% endif %}
                    <li class="breadcrumb-item active" aria-current="page">{{ individual.title }}</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Breadcrumb -->

    <div class="container default-padding">
        {% if messages %}
            {% include 'includes/messages.html' %}
        {% endif %}
        <h3 class="default-padding-bottom">
            {{ individual.title }}<br>
            {% if individual.doctor %}
                Доктор: {{ individual.doctor }}
            {% endif %}
        </h3>
        <div class="row">
            <div class="col-md-8 col-md-pr-50">
                <p>
                    {% autoescape off %}
                        {{ individual.content }}
                    {% endautoescape %}
                </p>
            </div>
            <div class="col-md-4">
                <form class="card contact-form" action="" method="post">
                    <h4 class="pb-3">
                        Записаться
                    </h4>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="g-recaptcha" data-sitekey="6LeEMHsgAAAAAG9l65Exk3yAquK2PGKkVwhPG3sV"
                         data-callback="enableBtn" data-expired-callback="disableBtn"></div>
                    <button type="submit" class="btn blue-btn" id="recaptcha-submit" disabled>Подтвердите, что Вы не
                        робот
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!-- Lector info -->
    {% if individual.doctor %}
        <div class="breadcrumb-nav">
            <div class="container default-padding">
                <h3>О докторе:</h3>
                <div class="row">
                    <div class="col-md-4">
                        <img class="lector-img-post" src="{{ individual.doctor.photo.url }}" alt="Фото">
                    </div>
                    <div class="col-md-8">
                        <p>
                            {% autoescape off %}
                                {{ individual.doctor.description }}
                            {% endautoescape %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- Lector info -->

    <script src="{% static 'js/enable_button.js' %}"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

{% endblock content %}