{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block title %}{{ lector.lector.name|truncatechars:100 }}{% endblock title %}

{% block content %}

    <!-- Breadcrumb -->
    <div class="breadcrumb-nav">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i> Главная</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'lectors' %}">Лекторы</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ lector.lector.name }}</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Breadcrumb -->

    <div class="container default-padding">
        {% if messages %}
            {% include 'includes/messages.html' %}
        {% endif %}
        <h2 class="default-padding-bottom">
            {{ object.lector.name }}
        </h2>
        <div class="row">
            <div class="col-md-3 text-center pb-3">
                <img class="rounded lector-img-2 mb-3" src="{{ object.photo_2.url }}" alt=""><br>
                {% if object.instagram %}
                    <a href="{{ object.instagram }}" target="_blank"><img
                            src="{% static '/images/icons/instagram.png' %}"
                            alt="Instagram"></a>
                {% endif %}
                {% if object.facebook %}
                    <a href="{{ object.facebook }}" target="_blank"><img
                            src="{% static '/images/icons/facebook.png' %}"
                            alt="Facebook"></a>
                {% endif %}
                {% if object.vk %}
                    <a href="{{ object.vk }}" target="_blank"><img src="{% static '/images/icons/vk.png' %}"
                                                                   alt="Facebook"></a>
                {% endif %}
            </div>
            <div class="col-md-5 pb-5">
                {% autoescape off %}
                    {{ object.lector.description }}
                {% endautoescape %}
            </div>
            <div class="col-md-4">
                <form class="card form" action="" method="post">
                    <h4 class="pb-3">
                        Хотите быть в курсе предстоящих семинаров лектора? Заполните форму.
                    </h4>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="g-recaptcha" data-sitekey="6LeEMHsgAAAAAG9l65Exk3yAquK2PGKkVwhPG3sV"
                         data-callback="enableBtn" data-expired-callback="disableBtn"></div>
                    <button type="submit" class="btn blue-btn" id="recaptcha-submit" disabled>Подтвердите, что Вы не
                        робот
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!--Upcoming lector's seminars-->
    <div class="container default-padding" id="seminars">
        <h3>
            Ближайшие семинары лектора:
        </h3>
        {% if upcoming_seminars_count >= 1 %}
            <div class="row default-padding">
                {% for seminar in upcoming_seminars %}
                    <div class="col-sm">
                        <div class="card home-card mb-3">
                            {% if seminar.lector.all.count|add:'0' == 1 %}
                                {% for lector in seminar.lector.all %}
                                    <img src="{{ lector.photo.url }}" class="card-img-top" alt="Фото">
                                {% endfor %}
                            {% else %}
                                {% if seminar.reserve_photo %}
                                    <img src="{{ seminar.reserve_photo.url }}" class="card-img-top"
                                         alt="Фото">
                                {% elif not seminar.reserve_photo %}
                                    <img src="{% static 'images/default_seminar.jpg' %}"
                                         class="card-img-top" alt="Фото">
                                {% endif %}
                            {% endif %}
                            <div class="card-body">
                                {% for category in seminar.category.all %}
                                    <a href="{{ category.get_url }}"
                                       class="badge bg-warning"># {{ category }}</a>
                                {% endfor %}
                                {% for lector in seminar.lector.all %}
                                    <h4 class="lector-title">{{ lector.name }}</h4>
                                {% endfor %}
                                <h5 class="card-title">{{ seminar.title }}</h5>
                                <ul class="list">
                                    {% if seminar.organizer %}
                                        <li><span><i
                                                class="fas fa-flag"></i></span>Организатор: {{ seminar.organizer }}
                                        </li>
                                    {% endif %}
                                    <li><span><i class="fas fa-stream"></i></span>{{ seminar.type }}</li>
                                    <li><span><i
                                            class="far fa-calendar-alt"></i></span>{{ seminar.date_info }}
                                    </li>
                                    <li><span><i
                                            class="fas fa-map-marker-alt"></i></span>{{ seminar.place.address }}
                                    </li>
                                </ul>
                                <a href="{{ seminar.get_url }}" class="btn blue-btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="text-center">
                <h6 class="text-danger pt-4 pb-5">В ближайшее время не планируются.</h6>
            </div>
        {% endif %}

    </div>
    <!--Upcoming lectors seminars-->

    <script src="{% static 'js/enable_button.js' %}"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

{% endblock content %}