body {
    font-family: 'Roboto', sans-serif;
}

@-webkit-keyframes zoom {
    from {
    	-webkit-transform: scale(1,1);
    }
    to {
    	-webkit-transform: scale(1.5,1.5);
    }
}

/* Standard syntax */
@keyframes zoom {
   from {
        transform: scale(1,1);
   }
   to {
        transform: scale(1.5,1.5);
   }
}

.nav-link:hover {
    color: #fff !important;
    background-color: #00A9A5;
    border-radius: .25rem;
}

.list-group-item.active {
    background-color: #00A9A5;
    border-color: #00A9A5;
}

.remaining-days {
    padding-top: 25px;
    padding-bottom: 15px;
    color: red;
}

.not-found-page {
    padding-top: 50px;
    padding-bottom: 50px;
}

.list-group-item {
    padding: 7px;
}

.detail-item {
    padding-left: 30px;
}

.bg-warning {
    background-color: #a7c1ff69 !important;
}

.badge {
    margin-bottom: 5px;
}

.badge.bg-warning:hover,
.badge.bg-warning:active, 
.badge.bg-warning:focus, 
.badge.bg-warning:target,
.badge.bg-warning:active:focus {
    background-color: #234493 !important;
    color: #fff;
    text-decoration: none;
}

.gallery-lector {
    margin-top: 5px;
    margin-bottom: 5px;
}

.badge {
    font-size: 15px;
}

.border-text {
    background-color: #aab3bd;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.background-home {
    object-fit: cover;
    flex: 1;
    margin-right: 1rem;
    overflow: hidden;
    height: 1000px;
}

/* .background-home-img {
    -webkit-animation: zoom 40s;
    animation: zoom 40s;
} */

.carousel-item {
    margin-top: -75px;
    height: 100vh;
    min-height: 300px;
    background: absolute no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000000;
    background: linear-gradient(228deg, rgba(0,169,165,1) 0%, rgba(105,58,150,1) 100%);
    opacity: 0.85;
}

div.seminar-categories {
    position: sticky;
    top: 100px;
}

a {
    color: #212529;
    text-decoration: none;
}

a:hover {
    color: #00A9A5;
}

h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

h3 {
    font-weight: 700;
    text-align: center;
}

hr {
    margin: 5px;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #00A9A5;
}

.color-background {
    margin-top: 20px;
    border-radius: 5px;
    background: rgb(25,94,152);
    background: linear-gradient(228deg, rgba(25,94,152,1) 0%, rgba(6,150,162,1) 100%);
}

.card-img {
    vertical-align: middle;
}

.list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.list-white {
    color: #fff;
}

.list-font {
    font-size: 18px;
}

.list li span {
    float: left;
    width: 30px;
}

.logo-padding {
    padding-bottom: 25px;
}

.default-margin {
    margin-top: 50px;
    margin-bottom: 50px;
}

.default-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.default-padding-bottom {
    padding-bottom: 50px;
}

.breadcrumb-nav {
    background-color: #e9ecef;
}

.breadcrumb {
    padding-left: 0px;
    margin-bottom: 0px
}

.copyright {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #e9ecef;
}

.footer-logo {
    width: 90%;
    height: auto;
}

.card {
    box-shadow: 0px 0px 7px 0px rgb(34 34 34 / 50%);
}

.home-card {
    width: 21.6rem;
    /* height: 100%; */
    float: none;
    margin: 0 auto;
}

.ind-card {
    width: 21.6rem;
    height: 100%;
    float: none;
    margin: 0 auto;
}

.ind-card-body {
    margin-bottom: 30px;
}

.card-text {
    margin-bottom: 0;
}

.card-title {
    margin-top: 15px;
    margin-bottom: 15px;
}

.lector-title {
    color: #00A9A5;
    font-weight: 700;
    margin-top: 10px;
}

.lector-margin {
    padding: 16px;
}

.ind-image {
    width: 200px;
    display: block;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.ind-title {
    text-align: center;
}

.lector-btn {
    position: absolute;
    bottom: 0;
}

.lector-img {
    width: 200px;
    padding-top: 20px;
}

.lector-img-2 {
    width: 200px;
}

.lector-img-post {
    width: 300px;
    height: auto;
}

.lector-padding {
    padding-bottom: 20px;
}

.blue-btn {
    background-color: #234493;
    border-color: #234493;
    color: #fff;
    margin-top: 20px;
}

.blue-btn:hover {
    background-color: #101F5F;
    border-color: #101F5F;
    color: #fff;
}

.green-btn {
    background-color: #00A9A5;
    border-color: #00A9A5;
    color: #fff;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.green-btn:hover {
    background-color: #fff;
    border-color: #234493;
    color: #234493;
}

.green-btn:focus {
    background-color: #fff;
    color: #234493;
}

.green-btn:active {
    background-color: #fff;
    color: #234493;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    padding-left: 50px;
    padding-right: 50px;
}

.carousel-caption h1 {
    font-size: 50px;
    font-weight: 700;
}
.carousel-caption h2 {
    font-size: 50px;
    font-weight: 700;
}

.carousel-caption p {
    font-size: 25px;
}

.form {
    padding: 15px;
}

.contact-form {
    margin-top: 15px;
    padding: 15px;
}

.map {
    padding-left: 0;
    padding-right: 0;
}

.img-thumbnail {
    max-width: 75%;
    border: 0 none;
    box-shadow: none;
}

.gallery-img:hover {
    background-color: #fff;
}

.page-item.active .page-link {
    background-color: #00A9A5;
    border-color: #00A9A5;
}

.item {
    transition: .1s ease-in-out;
}

.item:hover {
    filter: brightness(80%);
}

.contact-background {
    color: #fff;
    background-color: #56b756;
    padding: 15px;
}

.invalid-captcha-background {
    color: #fff;
    background-color: #d62929;
    padding: 15px;
}

.page-link {
    color: #212529;
}

.page-link:hover {
    color: #212529;
}

.page-item:focus {
    box-shadow: #212529;
}

.dropdown-item:focus {
    color: #fff;
    background-color: #00A9A5;
}

.dropdown-item:active {
    color: #fff;
    background-color: #00A9A5;
}

.past-seminar {
    color: red;
    text-align: center;
}

.additional-info {
    color: #00A9A5;
    text-align: center;
}

.gal {
    float: left;
    position: relative;
    width: 15%;
    padding-bottom: 10%;
    margin: 0.83%;
    overflow: hidden;
}

.square {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    object-fit: cover;
}
