{% extends 'main/base.html' %}
{% load static %}

{% block title %}{% if not is_finished %}Семинары{% else %}Прошедшие семинары{% endif %}{% endblock title %}

{% block content %}

    <!--Breadcrumb-->
    <div class="breadcrumb-nav">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i> Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{% if not is_finished %}Семинары{% else %}Прошедшие семинары{% endif %}</li>
                </ol>
            </nav>
        </div>
    </div>
    <!--Breadcrumb-->

    <div class="container default-padding">
        <h2 class="default-padding-bottom">
            {% if not is_finished %}Семинары{% else %}Прошедшие семинары{% endif %}
        </h2>

        <div class="row">
            <div class="col-md-3">
                <div class="categories">
                    <div class="web-categories">
                        <h3>Категории</h3>
                        <div class="list-group" id="category-nav">
                            <button
                                class=" btn-category list-group-item justify-content-between align-items-center"
                                value="{% if not is_finished %}{% url 'all_seminars' %}{% else %}{% url 'past_seminars' %}{% endif %}"
                            >
                                Все семинары
                            </button>
                            {% for category in links %}
                                <button
                                    class=" btn-category list-group-item justify-content-between align-items-center"
                                    value="{% if not is_finished %}{{ category.get_url }}{% else %}{{ category.get_past_url }}{% endif %}"
                                >
                                    {{ category }}
                                </button>
                            {% endfor %}
                        </div>
                    </div>

                    <div id="more-div" style="display: none;">
                        <ul class="list-group">
                            <button
                                class="btn btn-category list-group-item justify-content-between align-items-center"
                                value="{% if not is_finished %}{% url 'all_seminars' %}{% else %}{% url 'past_seminars' %}{% endif %}"
                            >
                                Все семинары
                            </button>
                            {% for category in links %}
                                <button
                                    class="btn btn-category list-group-item justify-content-between align-items-center"
                                    value="{% if not is_finished %}{{ category.get_url }}{% else %}{{ category.get_past_url }}{% endif %}"
                                >
                                    {{ category }}
                                </button>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="mobile-categories text-center mb-5">
                        <button id="more-btn" class="btn green-btn"><i class="fas fa-align-justify"></i>
                             Категории семинаров
                        </button>
                    </div>
                </div>
            </div>

            <div class="loader ajax-loader text-center" style="display: none">Загрузка...</div>

            <div id="seminars-content" class="col-md-9">
                {% if active_category == 1 %}
                    <h6 class="pb-3">Найдено {{ seminar_count }}  {% if seminar_count < 4 %} семинара {% else %}
                        семинаров {% endif %}</h6>
                {% elif active_category != 1 and seminar_count == 1 %}
                    <h6 class="pb-3">Найден 1 семинар в разделе "{{ active_category }}"</h6>
                {% elif active_category != 1 and seminar_count != 0 %}
                    <h6 class="pb-3">Найдено {{ seminar_count }}  {% if seminar_count < 4 %} семинара {% else %}
                        семинаров {% endif %} в разделе "{{ active_category }}"</h6>
                {% else %}
                    <h6 class="text-danger">Ничего не найдено</h6>
                {% endif %}

                {% include 'includes/ajax/paginator.html' %}

                {% for seminar in object_list %}
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                {% if seminar.lector.all.count|add:'0' == 1 %}
                                    {% for lector in seminar.lector.all %}
                                        <img src="{{ lector.photo.url }}" class="card-img" alt="Фото">
                                    {% endfor %}
                                {% else %}
                                    {% if seminar.reserve_photo %}
                                        <img src="{{ seminar.reserve_photo.url }}" class="card-img" alt="Фото">
                                    {% elif not seminar.reserve_photo %}
                                        <img src="{% static 'images/default_seminar.jpg' %}" class="card-img"
                                             alt="Фото">
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    {% for category in seminar.category.all %}
                                        <a href="{% if not is_finished %}{{ category.get_url }}{% else %}{{ category.get_past_url }}{% endif %}" class="badge bg-warning"># {{ category }}</a>
                                    {% endfor %}
                                    {% for lector in seminar.lector.all %}
                                        {% if lector.id != 64 %}
                                            <h4 class="lector-title">{{ lector.name }}</h4>
                                        {% endif %}
                                    {% endfor %}
                                    <h5 class="card-title">{{ seminar.title }}</h5>
                                    <ul class="list">
                                        {% if seminar.organizer %}
                                            <li><span><i
                                                    class="fas fa-flag"></i></span>Организатор: {{ seminar.organizer }}
                                            </li>
                                        {% endif %}
                                        <li><span><i class="fas fa-stream"></i></span>{{ seminar.type }}</li>
                                        {% if seminar.date|date:"Y/m/d" <= today %}
                                            <li><span><i class="far fa-calendar-alt"></i></span>{{ seminar.date }}</li>
                                        {% else %}
                                            <li><span><i class="far fa-calendar-alt"></i></span>{{ seminar.date_info }}
                                            </li>
                                        {% endif %}
                                        {% if seminar.participants %}
                                            <li><span><i class="fas fa-users"></i></span>{{ seminar.participants }}</li>
                                        {% endif %}
                                        <li><span><i
                                                class="fas fa-map-marker-alt"></i></span>{{ seminar.place.address }}
                                        </li>
                                    </ul>
                                    <a href="{{ seminar.get_url }}" class="btn blue-btn">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% include 'includes/ajax/paginator.html' %}

            </div>
        </div>
    </div>

    <script src="{% static 'js/show_categories.js' %}?v=2"></script>

{% endblock content %}