{% extends 'main/base.html' %}

{% block title %}Галерея{% endblock title %}

{% block content %}

    <!--Breadcrumb-->
    <div class="breadcrumb-nav">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i> Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Галерея</li>
                </ol>
            </nav>
        </div>
    </div>
    <!--Breadcrumb-->

    <div class="container default-padding">
        <h2 class="default-padding-bottom">
            Галерея
        </h2>

        {% include 'includes/paginator.html' %}

        <div class="row">
            {% for item in object_list %}
                <div class="col-md-3 text-center mb-5">
                    <a href="{{ item.url }}"><img class="rounded img-thumbnail item" src="{{ item.preview_image.url }}"
                                                  alt="Превью"></a>
                    {% for lector in item.seminar.lector.all %}
                        <a class="text-center" href="{{ item.url }}"><h5 class="gallery-lector">{{ lector }}</h5></a>
                    {% endfor %}
                    <h6 class="text-center pt-2 pb-2"><i
                            class="far fa-calendar-alt"></i> {{ item.seminar.date|date:"d.m.Y" }}</h6>
                    <hr/>
                    <p class="text-center">{{ item.seminar.title }}</p>
                </div>
            {% endfor %}
        </div>

        {% include 'includes/paginator.html' %}

    </div>

{% endblock content %}